{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <script src="https://unpkg.com/htmx.org@1.9.4"></script>
    <link href="css/output.css" rel="stylesheet">
</head>

<body class="h-screen bg-gray-800">
    <div class="container mx-auto p-4 h-full">
        {{ template "form" .Form }}
        <hr />
        {{ template "work-list" .Data }}
    </div>
</body>

<script>
    document.addEventListener("DOMContentLoaded", (event) => {
        document.body.addEventListener('htmx:beforeSwap', function (evt) {
            if (evt.detail.xhr.status === 422) {
                evt.detail.shouldSwap = true;
                evt.detail.isError = false;
            }
        });
    });
</script>

</html>
{{ end }}

{{ block "form" . }}
<form hx-post="/submitForm" hx-swap="outerHTML" class="w-full">
    <input {{ if .Value.work }} value="{{ .Value.work }}" {{ end }} type="text" name="work"
        class="border p-2 bg-gray-500 w-full" />
    {{ if .Error.work }}
    <div class="text-red-500">{{ .Error.work }}</div>
    {{ end }}
    <button type="submit" class="bg-blue-500 text-white p-2 mt-2">Submit</button>
</form>
{{ end }}

{{ block "work-list" . }}
<div id="works">
    {{ range .Works }}
    {{ template "work-name" . }}
    {{ end }}
</div>
{{ end }}

{{ block "work-name" . }}
<div class="flex flex-row">
    <p class="text-white"> Work : <span>{{ .Name }}</span> </p>
    <button type="button">delete</button>
</div>
{{ end }}

{{ block "oob-work" . }}
<div id="works" hx-swap-oob="afterbegin">
    {{ template "work-name" . }}
</div>
{{ end }}
