name: Go Build and Deploy

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4

      - name: Run test
        run: go test ./...

  ai-security-check:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkouy code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install OpenAI library
        run: pip install openai

      - name: Install Ollama
        run: curl -fsSL https://ollama.com/install.sh | sh

      - name: Start Ollaama Server
        run: ollama serve &

      - name: Pull Llama Model
        run: |
          sleep 5
          ollama pull llama3.2

      - name: Run AI Auditor
        run: python tools/ai_auditor.py

  build-and-push:
    needs: ai-security-check
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/to_do_list:latest

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Deploy to Server via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            sudo docker pull ${{ secrets.DOCKERHUB_USERNAME }}/to_do_list:latest

            sudo docker stop todo-app || true
            sudo docker rm todo-app || true

            sudo docker run -d \
              --name todo-app \
              -p 3000:3000 \
              --restart unless-stopped \
            ${{ secrets.DOCKERHUB_USERNAME }}/to_do_list:latest

